.card.pointer
	.card-image: img(src='/img/placeholder2x1.svg')
	.collection.no-border
		.collection-item.no-border.avatar
			img.circle(src='https://wellopp.com/img/logo.svg')
			span.title {{collection.name}}
			p Wellopp