.container
	.card
		.row
			.col.s8
				.card-content.center
					.text.large.center.editable(content-editable contenteditable='true' ng-model='item.props.content' placeholder='content')
			.col.s4
				img.responsive-img(ng-src='{{item.props.image}}')